 <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.0.31.169;Initial Catalog=DB_PM_MKP;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Pa$$w0rd"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=tcp:playamoblados-dev.database.windows.net,1433;Initial Catalog=DB_PM_MKP;Persist Security Info=False;User ID=playamoblados;Password=Pa$$w0rd..;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
</connectionStrings>-->
