<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add name="DefaultConnection" connectionString="Server=tcp:playamoblados-dev.database.windows.net,1433;Initial Catalog=DB_PM_MKP;Persist Security Info=False;User ID=playamoblados;Password=Pa$$w0rd..;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
		providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>