@using Microsoft.AspNet.Identity
@if (User != null && User.Identity.IsAuthenticated)
{
    var userId = User.Identity.GetUserId();
    var messages = MessageHelper.GetUnReadMessages(userId);

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav" }))
    {
        @Html.AntiForgeryToken()

            <!-- /messages -->
            <!-- user login dropdown -->
        <li class="list-inline">
            <a><span style="cursor:default;">@User.Identity.User().FullName </span></a>
        </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">[[[Log off]]]</a></li>
    }
}
else
{

        <li >
            @Html.ActionLink("[[[Create an account]]]", "Register", "Account", new { area = string.Empty }, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink("[[[Log in]]]", "Login", "Account", new { area = string.Empty }, htmlAttributes: new { id = "loginLink" })
        </li>

}

