
@{
    ViewBag.Title = "Congratulations";
}

<img src="~/Images/Community/playamobladosLogo.jpg" style="width: 300px" class="img-responsive"/>
<h1 style="text-align: center">Congratulations!!!</h1>
<h2 style="text-align: center">Tu reserva esta siendo procesada.</h2>
<h2 style="text-align: center">Te contactaremos en las proximas 24 horas.</h2>

<div style="text-align: center"><button class="btn btn-lg btn-success" onclick="@Url.Action("Index","Home", null)">Volver</button></div>

